JWT_KEY = AyqgRbQLqjXGBWOS7exLxk/3a7T5GvpUr3MAlWnvOiqorm6yqc6H9olyCGuW96cX95g4UVazWRCBUaBghjLKztPRARnXaINJfQ6/WtCTeb3jhHkskN0TPn90SaNc1PfmLh2ngmPVdtR1IT86P9i+Of0hWcZ/R9yKyFc5zRGsikJaBaHShWBKvCFim7ZwaZkmgX5MfQSyOLS5OpMP/v0liSOiChOQc1HOsewlWWEpJML7DtJppdBZ5EiuZINchMG7sBgLSSNNyOkZYE2BAIM0rdJySn1lzUCn+F+nn8hc2oJjccZiLJIRcCiPfabBSGB0/I8sWMBQh1noZ0+shnn5Jw==

PORT = 8000